.home {
	background-color: white;
	width: 100svw;
    position: relative;
}
.home__container {
	position: relative;
	margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__container__title {
	text-align: center;
	font-size: 53px;
    margin-bottom: 1rem;
}
.todo{
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    text-align: center;
    
}
.todo__title{
    margin-bottom: 5rem;
}
.todo__tasks,.todo__events{
    width: 50%;
    position: relative;
}
.todo__tasks__list{
    display: flex;
    position: relative;
    flex-wrap: wrap;    
    width: 100%;
    gap: 5rem;
    padding: 1rem;
}