.login-modal__container{
    background-color: white;
    position: relative;
    width: 22vw;
    min-width: 400px;
    height: 42vh;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.login-modal__container__user{
    width: 20%;
    align-self: center;
}
.login-modal__container__text{
    color:#979797;
    margin-bottom: 2rem;
}
.login-modal__container__text span{
    color: #C84754;
}
.login-modal__container__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    place-self: center;
    width: 70%;
}
.login-modal__container__form__input{
    width: 100%;
    padding: 1%;
    height: 30px;
}
.login-modal__container__form__btn{
    width: 100%;
    padding: 1%;
    height: 30px;
    border: none;
}
.login-modal__container__form__help{
    text-align: start;
}